<a class="game_list_item_link" href='#games/<%= id %>'>
    <div class="game_list_team_name"><% if (team_1) { %><%= team_1.name %><% } %></div>
    <div class="game_list_icon_spacer">&nbsp</div>
    <div class="game_list_team_score"><%= team_1_score %></div>
    <div class="game_list_team_name"><% if (team_2) { %><%= team_2.name %><% } %></div>
    <div class="game_list_icon_spacer">&nbsp</div>
    <div class="game_list_team_score"><%= team_2_score %></div>
    <div class="game_list_start_time"><%= start_time_string %></div>
</a>
