<div id="trackbasic">
    <div id="team1">
        <div id="team1_name"><a href="/teams/<%= team_1.id %>"><%= team_1.name %></a></div>
        <div id="team1_score"><span><%= team_1_score %></span></div>
        <button class="team_1 decrement">-</button>
        <button class="team_1 increment">+</button>
    </div>
    <div id="team2">
        <div id="team2_name"><a href="/teams/<%= team_2.id %>"><%= team_2.name %></a></div>
        <div id="team2_score"><span><%= team_2_score %></span></div>
        <button class="team_2 decrement">-</button>
        <button class="team_2 increment">+</button>
    </div>
</div>