<table id="player-per-game-stats-1" class="playerstats-list stats">
    <tr>
        <th width="40%">
            PLAYER
        </th>
        <th width="10%">
            COMP
        </th>
        <th width="10%">
            AST
        </th>
        <th width="10%">
            Ds
        </th>
        <th width="10%">
            TO
        </th>
        <th width="10%">
            +/-
        </th>
        <th width="10%">
            GLS
        </th>
    </th>
</table>

<table id="player-per-game-stats-2" class="playerstats-list stats">
    <tr>
        <th width="40%">
            PLAYER
        </th>
        <th width="10%">
            COMP
        </th>
        <th width="10%">
            AST
        </th>
        <th width="10%">
            Ds
        </th>
        <th width="10%">
            TO
        </th>
        <th width="10%">
            +/-
        </th>
        <th width="10%">
            GLS
        </th>
    </th>
</table>
