<table id="player_per_game_stats_1" class="playerstats_list stats">
    <tr class="team_name">
        <td colspan=8 width="100%" ><%= team_1.name %></td>
    </tr>
    <tr class="column_headers">
        <th width="40%" class="table_first_item">
            PLAYER
        </th>
        <th width="12%">
            COMP
        </th>
        <th width="8%">
            PT
        </th>
        <th width="8%">
            AST
        </th>
        <th width="8%">
            Ds
        </th>
        <th width="8%">
            TO
        </th>
        <th width="8%">
            +/-
        </th>
        <th width="8%">
            GLS
        </th>
    </th>
</table>

<table id="player_per_game_stats_2" class="playerstats_list stats">
    <tr class="team_name">
        <td colspan=8 width="100%" ><%= team_2.name %></td>
    </tr>
    <tr class="column_headers">
        <th width="40%" class="table_first_item">
            PLAYER
        </th>
        <th width="12%">
            COMP
        </th>
        <th width="8%">
            PT
        </th>
        <th width="8%">
            AST
        </th>
        <th width="8%">
            Ds
        </th>
        <th width="8%">
            TO
        </th>
        <th width="8%">
            +/-
        </th>
        <th width="8%">
            GLS
        </th>
    </th>
</table>
