<td class="table_first_item">
    <a href="players/<%= player.id %>"><%= player.first_name %> <% if (player.nickname) { %>"<% } %><%= player.nickname %><% if (player.nickname) { %>"<% } %> <%= player.last_name %></a>
</td>
<td>
    <%= completed_passes_thrown %>/<%= passes_thrown %>
</td>
<td>
    <%= points_played %>
</td>
<td>
    <%= goals_thrown %>
</td>
<td>
    <%= ds %>
</td>
<td>
    <%= turnovers %>
</td>
<td>
    <%= plus_minus %>
</td>
<td>
    <%= goals_caught %>
</td>
