AddType text/cache-manifest appcache
AddType text/cache-manifest .appcache

# Remove the trailing slash from routes
DirectorySlash Off

# Enable the RewriteEngine
RewriteEngine on

# Map resources to development
RewriteRule ^teams/(.*)$ $1 [NC,L]
RewriteRule ^editteam/(.*)$ $1 [NC,L]
RewriteRule ^tournaments/(.*)$ $1 [NC,L]
RewriteRule ^games/(.*)$ $1 [NC,L]
RewriteRule ^settings/(.*)$ $1 [NC,L]
RewriteRule ^players/(.*)$ $1 [NC,L]
RewriteRule ^track/(.*)$ $1 [NC,L]
RewriteRule ^app/(.*)$ app/$1 [NC,L]
RewriteRule ^assets/(.*)$ assets/$1 [NC,L]

# These conditions ensure that the file does not exist and that the current
# request URI is not the index.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !index

# Redirect remaining requests to the index.html file
RewriteRule (.*) index.html [NC,L]