<div id="title_body">
    <span id="title_txt"><%= title %></span>
    <div id="title_left_btn" class="btn <%= left_btn_class %>">
        <div id="title_left_pointer"><span></span></div>
        <a href="<%= left_btn_href %>">
            <span></span>
            <p><%= left_btn_txt %></p>
        </a>
    </div>
    <div id="title_right_btn" class="btn <%= right_btn_class %>">
        <a href="<%= right_btn_href %>">
            <span>&nbsp</span>
            <p><%= right_btn_txt %></p>
        </a>
    </div>
</div>
