<ul class="navbar-list">
    <li>
        <a href="{{teams_href}}" class="teams{{teams_class}}">
            Teams
            <div>
                <img />
            </div>
        </a>
    </li>
    <li>
        <a href="{{tournaments_href}}" class="tournaments {{tournaments_class}}">
            Tournaments
            <div>
                <img />
            </div>
        </a>
    </li>
    <li>
        <a href="{{games_href}}" class="games {{games_class}}">
            Games
            <div>
                <img />
            </div>
        </a>
    </li>
    <li>
        <a href="{{settings_href}}" class="settings {{settings_class}}">
            Settings
            <div>
                <img />
            </div>
        </a>
    </li>
</ul>
