<table id="team_per_game_stats" class="teamstats_list stats">
    <tr class="table_name">
        <td colspan=8 width="100%" >Team Stats</td>
    </tr>
    <tr class="column_headers">
        <th width="40%" class="table_first_item">
            TEAM
        </th>
        <th width="14%">
            COMP
        </th>
        <th width="14%">
            COMP%
        </th>
        <th width="8">
            Ds
        </th>
        <th width="8%">
            DRP
        </th>
        <th width="8%">
            TA
        </th>
        <th width="8%">
            TO
        </th>
    </th>
</table>
