/* =============================================================================
   General 
   ========================================================================== */
body {
    border-bottom: 1px solid #e0e0e0;
}

/* ------------------- Lists ------------------- */
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

    ul li a{
        text-decoration: none;
    }

ul.obj-list {
    width: 100%;
}

    ul.obj-list li a{
        border-top: 1px solid #e0e0e0;
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
        color: black;
        background: url(../img/icons/right_arrow_blue.png) 95% 50% no-repeat;
    }

        ul.obj-list li a:hover{
            background-color: #c3c3c3;
            color: black;
        }

        ul.obj-list li a:visited{
            color: black;
        }

/* =============================================================================
   Navbar
   ========================================================================== */
.navbar {
    background-color: black;
    height: 35px;
    width: 100%;
    border-bottom: 2px solid #3f3f3f;
}

    .navbar a {
        border: 0px;
        padding: 0px;
        color: #c3c3c3;
        display: block;
        font-size: 9px;
        height: 34px;
        width: 100%;
        background-image: none;
    }

        .navbar a:hover {
            background-color: #2f2f2f;
            color: white;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
        }

    .navbar ul.navbar-list {
        text-align: center;
    }

        .navbar ul.navbar-list li{
            float: left;
            width: 25%;
        }

    .navbar ul.navbar-list img {
        width: 20px;
    }

/* =============================================================================
   Titlebar

   credits to Jeff Batterton: http://lab.jeffbatterton.com/iphone-back-button/
   ========================================================================== */
.titlebar {
    height: 40px;
    text-align: center;
}

#title_txt {
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
}

.titlebar .disabled{
    display: none;
}

.titlebar { 
    background: -webkit-gradient(linear, left top,left bottom, from(#afbbcb), to(#6e86a4), color-stop(0.48, #8b9db5), color-stop(0.5, #8195af));
    border-bottom: 1px solid #22374a;
    height: 42px;
    text-align: center;
    position: relative;
}

#title_left_btn {
    float: left;
    margin-left: 10px;
}

#title_right_btn {
    float: right;
    margin-right: 10px;
}

.titlebar .btn a{ 
    background: -webkit-gradient(linear, left top, left bottom, from(#9fb3cc), to(#5b80ab), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa)); 
    border: 1px solid rgba(0,0,0, 0.4);  
    display: block;
    height: 26px; 
    margin: 6px 0 0 12px; 
    padding-left: 5px; 
    padding-right: 5px;
    position: relative; 
    text-decoration: none;
    -webkit-border-radius: 5px; 
    z-index: 3;
}

.titlebar .btn p{ 
    color: #fff; 
    font-size: 12px; 
    font-weight: bold;
    line-height: 27px;
    margin: 0; 
    padding: 0; 
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
    z-index: 3 !important; 
}

#title_left_btn.back #title_left_pointer span{ 
    background: -webkit-gradient(linear, left top, right bottom, from(#9fb3cc), to(#5b80ab), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa));   
    border: 1px solid rgba(0,0,0, 0.4); 
    border-right: 0; 
    border-top: 0;
    display: block; 
    height: 16px; 
    -webkit-border-radius: 1px; 
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.25);
    -webkit-transform: skew(15deg);
    width: 15px; 
    z-index: 2;
} 

#title_left_btn.back a {
    border-left: 0px;
}

#title_left_pointer {
    float: left;
    left: 15px; 
    position: absolute; 
    top: 11px; 
    -webkit-transform: rotate(51deg);
    z-index: 1; 
}

/* --------- Specific titlebar buttons ---------- */
.titlebar a span {
    display: none;
}

.titlebar .add a{
    z-index: 9;
}
.titlebar .add a span{
    background: url(../img/icons/plus_white.png) 3px 3px no-repeat;
    display: block;
    height: 20px;
    margin-top: 2px;
    width: 20px;
    z-index: 10;
}

.titlebar .add a p{
    display: none;
}
