/* =============================================================================
   General 
   ========================================================================== */
#main {
    min-height: 480px;
}

/* ------------------- Lists ------------------- */
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

    ul li a{
        text-decoration: none;
    }

ul.obj-list {
    width: 100%;
}

    ul.obj-list li a{
        border-bottom: 1px solid #e0e0e0;
        display: block;
        padding-left: 15px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
        color: black;
        background: url(../img/icons/right_arrow_grey.png) 95% 50% no-repeat;
    }

        ul.obj-list li a:hover{
            background-color: #c3c3c3;
            color: black;
        }

        ul.obj-list li a:visited{
            color: black;
        }

/* ------------------- Forms ------------------- */
form {
    padding: 15px;
}

form label {
    color: #767676;
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 8px;
}

form input {
    height: 25px;
    width: 95%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/* ------------------- Buttons ------------------- */

button {
    background-color: #E9EBED;
    border: 1px solid #767676;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    margin-top: 8px;
    width: 100%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

    button.save {
        background-color: #6e86a4;
        color: white;
    }

    button.delete {
        background-color: #b71a1a;
        color: white;
    }

/* ------------------- Links ------------------- */
a, a:hover, a:visited {
    color: #444e65;
}

/* =============================================================================
   Page loading spinner
   ========================================================================== */

#page_loading_area {
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    display: none; 
}

/* =============================================================================
   Navbar
   ========================================================================== */
.navbar {
    background-color: black;
    height: 35px;
    width: 100%;
    border-bottom: 2px solid #3f3f3f;
}

    .navbar a {
        border: 0px;
        padding: 0px;
        color: #c3c3c3;
        display: block;
        font-size: 9px;
        height: 34px;
        width: 100%;
        background-image: none;
    }

        .navbar a.currently_viewed,
        .navbar a:hover {
            background-color: #2f2f2f;
            color: white;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
        }

    .navbar ul.navbar-list {
        text-align: center;
    }

        .navbar ul.navbar-list li{
            float: left;
            width: 25%;
        }

    .navbar ul.navbar-list img {
        height: 20px;
    }

/* =============================================================================
   Titlebar

   credits to Jeff Batterton: http://lab.jeffbatterton.com/iphone-back-button/
   ========================================================================== */
.titlebar {
    height: 40px;
    text-align: center;
}

#title_txt {
    color: white;
    display: block;
    top: 0px;
    left: 0px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px;
    position: absolute;
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
    #title_txt span {
        padding-left: 115px;
        padding-right: 115px;
    }

.titlebar .disabled{
    display: none;
}

.titlebar { 
    background-color: #6e86a4;
    border-bottom: 1px solid #22374a;
    height: 42px;
    text-align: center;
    position: relative;
}

#title_left_btn {
    float: left;
    margin-left: 10px;
}

#title_right_btn {
    float: right;
    margin-right: 10px;
}

#search_right_btn {
    float: right;
    margin-right: 10px;
}

.titlebar .btn a{ 
    background-color: #5b80ab;
    border: 1px solid rgba(0,0,0, 0.4);  
    display: block;
    height: 26px; 
    margin: 6px 0 0 12px; 
    padding-left: 5px; 
    padding-right: 5px;
    position: relative; 
    text-decoration: none;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    z-index: 3;
}

.titlebar .btn p{ 
    color: #fff; 
    font-size: 12px; 
    font-weight: bold;
    line-height: 27px;
    margin: 0; 
    padding: 0; 
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
    z-index: 3 !important; 
}

#title_left_btn.back #title_left_pointer span{ 
    background-color: #5b80ab;
    border: 1px solid rgba(0,0,0, 0.4); 
    border-right: 0; 
    border-top: 0;
    display: block; 
    height: 16px; 
    -webkit-border-radius: 1px; 
    -moz-border-radius: 1px;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    width: 15px; 
    z-index: 2;
} 

#title_left_btn.back a {
    border-left: 0px;
}

#title_left_pointer {
    float: left;
    left: 15px; 
    position: absolute; 
    top: 11px; 
    -webkit-transform: rotate(51deg);
    -moz-transform: rotate(51deg);
    z-index: 1; 
}

/* --------- Specific titlebar buttons ---------- */
.titlebar a span {
    display: none;
}

.titlebar .add a{
    z-index: 9;
}
.titlebar .add a span{
    background: url(../img/icons/plus_white.png) 3px 3px no-repeat;
    display: block;
    height: 20px;
    margin-top: 2px;
    width: 20px;
    z-index: 10;
}

.titlebar .add a p{
    display: none;
}
/* =============================================================================
   Search bar
   ========================================================================== */
.search_bar_wrapper {
    width: 100%;
    height: 25px;
    background-color: #E2E5EB;
    padding: 2px 0px;
    text-align: center;
}

.search_bar_wrapper .add a span{
    background: url(../img/icons/plus_white.png) 3px 3px no-repeat;
    display: block;
    height: 20px;
    margin-top: 2px;
    width: 20px;
    z-index: 10;
}
.search_bar {
    height: 20px;
    width: 90%;
}

/* =============================================================================
   Sub navigation bars
   ========================================================================== */
.list_children div.buttons {
    background-color: #E2E5EB;
    border-bottom: 1px solid #c3c3c3;
    border-top: 1px solid #767676;
    height: 42px;
    text-align: center;
    width: 100%;
    -webkit-box-shadow: inset 0 1px 1px -1px #fff;
    -moz-box-shadow: inset 0 1px 1px -1px #fff;
}

.list_children div.buttons table {
    padding-right: 10px;
    width: 100%;
}

.list_children button {
    background-color: #FAFBFE;
    border: 1px solid #c3c3c3;
    color: #505C77;
    font-weight: bold;
    height: 30px;
    margin: 5px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
    width: 95%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px -1px #fff;
    -moz-box-shadow: inset 0 1px 1px -1px #fff;
}

    .list_children button.is_active,
    .list_children button:active {
        border: 2px solid #8599c6;
        color: #424c62;
    }

/* =============================================================================
   Teams
   ========================================================================== */
a.teams_list_item_link {
    height: 30px;
    margin: 0px;
    padding: 5px;
}

.teams_list_team_name {
    font-weight: bold;
}

.teams_list_season_name {
    font-size: 11px;
    color: #9a9a9a;
}

/* =============================================================================
   TeamPlayers
   ========================================================================== */

.team_player_list_number {
    color: #767676;
}

/* =============================================================================
   Games
   ========================================================================== */
#game_detail {
    padding: 15px;
}

#game_detail .game_tournament,
#game_detail .start_time,
#team1, #team2 {
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
}

#team1_name, #team2_name {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

    #team1_name a, 
    #team2_name a{
        color: #333;
        text-decoration: none;
    }

#team1_score, #team2_score {
    float: right;
    font-size: 20px;
    font-weight: bold;
}

#game_detail .game_tournament,
#game_detail .start_time {
    color: #a9a9a9;
}

#game_detail .game_tournament {
    padding-top: 0px;
}

/* ------------------- Games in lists --------------------- */
.game_list_item_link {
    height: 35px;
}

.game_list_team_name {
    clear: both;
    float: left;
    width: 60%;
    font-weight: bold;
    font-size: 13px;
}

.game_list_team_score {
    width: 10%;
    float: right;
    padding-right: 20px;
    font-weight: bold;
    font-size: 13px;
    text-align: right;
}

.game_list_icon_spacer {
    width: 5%;
    float: right;
}

.game_list_start_time {
    clear: both;
    padding-left: 10px;
    font-size: 11px;
    color: #767676;
}

/* =============================================================================
   Game Tracking
   ========================================================================== */
.scoreboard {
    height: 25px;
}
    .scoreboard .name {
        float: left;
        width: 34%;
        height: 10px;
        padding: 5px;
        overflow: hidden;
        word-break: break-all;
        word-wrap: none;
    }

    .scoreboard .team1 {
        text-align: right;
    }

    .scoreboard .score {
        float: left;
        width: 12%;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    .scoreboard .last_action {
        margin-top: 5px;
        clear: both;
        text-align: center;
    }

    .scoreboard .score_area {
        height: 23px;
        border-bottom: 1px solid #c3c3c3;
    }

.player_area {
    clear: both;
    margin-top: 35px;
    width: 60%;
    border: 1px solid #c3c3c3;
    float: right;
}

.alternate_action,
.main_action {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 40%;
}

.alternate_action {
    display: none;
}

.extra_actions {
    clear: both;
    float: right;
    padding: 15px 5px;
    text-align: right;
    width: 100%; 
}

.track {
    height: 100%;
    display: block;
    position: absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
}

    .track p {
        margin: 0px;
    }

    .track button {
        border: 1px solid #a9a9a9;
        background-color: white;
        font-size: 12px;
        font-weight: bold;
        margin: 0px;
        text-align: center;
        overflow: hidden;
        word-wrap: none;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-tap-highlight-color: #0377cc;
    }

        .track button:active {
            background-color: #0377cc !important;
            color: white !important;
        }

        .track .player_buttons {
            text-align: center;
        }

        button.player {
            padding: 5px;
            float: middle;
            text-align: center;
        }
        .track .player_buttons li:nth-of-type(odd) button{
            float: left;
            margin-left: 5px;
        }
        .track .player_buttons li:nth-of-type(even) button{
            float: right;
            margin-right: 5px;
        }

            .track button.player .player_name{
                display: block;
                overflow: hidden;
                white-space: nowrap;
            }
                
            .track button.player .player_number{
                display: block;
                overflow: hidden;
                white-space: nowrap;
                font-size: 10px;
                color: #a9a9a9;
            }

    .track .main_action,
    .track .alternate_action {
        text-align: center;
    }

        .track .player_area button {
            width: 45%;
            color: #767676;
            margin-top: 10px;
        }

        .track .main_action button,
        .track .alternate_action button {
            margin-bottom: 10px;
            width: 90%;
        }

        .track .extra_actions button.misc,
        .track .main_action button,
        .track .alternate_action button {
            color: #073962;
        }

            .track .main_action button.score {
                padding-top: 15px;
                padding-bottom: 30px;
            }

        .track .extra_actions {
            margin-left: 5px;
            float: right;
        }

        .track .extra_actions button {
            width: 29%;
        }

            .track .extra_actions button.undo {
                color: #750808;
            }

    .track .offense_teamname {
        clear: both;
        text-align: center;
        padding-top: 5px;
        margin-bottom: 5px;
    }
        .track .offense_teamname p{
            color: #767676;
            font-size: 10px;
        }

span.button_line_1,
span.button_line_2 {
    display: block;
    font-size: 11px;
}

.player_prompt {
    text-align: center;
}

.player_prompt_action{
    font-size: 11px;
    margin-top: 5px;
    font-weight: bold;
}

.action_prompt {
    text-align: center;
}

.action_prompt_player,
.action_prompt_action{
    font-size: 11px;
    margin-top: 5px;
    font-weight: bold;
}

#score_prompt {
    margin-top: 15px;
}

/* ----------------------- Substitutions ----------------- */
.sub_team_header {
    border-bottom: 1px solid #c3c3c3;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}
.sub_team_name {
    padding: 5px;
}

.sub_off_field_wrapper,
.sub_on_field_wrapper {
    float: left;
    width: 50%;
}

.sub_on_field_title,
.sub_off_field_title {
    padding: 5px;
}

.sub_off_field_area,
.sub_on_field_area {
    text-align: center;
}

.sub_on_field_area button {
    background: url(../img/icons/right_arrow_grey.png) 95% 50% no-repeat;
}

.sub_off_field_area button {
    background: url(../img/icons/left_arrow_grey.png) 5% 50% no-repeat;
}

.sub_page_wrapper button {
    margin: 2px;
}

.sub_buttons_area {
    clear: both;
}

/* =============================================================================
   Tournaments
   ========================================================================== */

#tournament_start_date {
    text-align: center;
    color: #767676;
    margin: 10px; 0px;
}

/* ------------------ Standings --------------------- */
#tournament_standings {
    margin: 15px;
    font-size: 14px;
}

#tournament_standings th {
    text-align: left;
}

#tournament_standings tr {
    height: 25px;
}

/* =============================================================================
   Settings 
   ========================================================================== */

#settings_detail {
    padding: 15px;
    color: #767676;
}
