/* =============================================================================
   General 
   ========================================================================== */
#main {
    border-bottom: 1px solid #e0e0e0;
}

/* ------------------- Lists ------------------- */
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

    ul li a{
        text-decoration: none;
    }

ul.obj-list {
    width: 100%;
}

    ul.obj-list li a{
        border-top: 1px solid #e0e0e0;
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
        color: black;
        background: url(../img/icons/right_arrow_blue.png) 95% 50% no-repeat;
    }

        ul.obj-list li a:hover{
            background-color: #c3c3c3;
            color: black;
        }

        ul.obj-list li a:visited{
            color: black;
        }

/* ------------------- Forms ------------------- */
form {
    padding: 15px;
}

form label {
    color: #767676;
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 8px;
}

form input {
    height: 25px;
    width: 80%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

form button {
    background-color: #d7d9da;
    background: -moz-linear-gradient(#e9ebed, #d7d9da);
    background: -webkit-gradient(linear, left top, left bottom, from(#e9ebed), to(#d7d9da), color-stop(0.5, #e9ebed), color-stop(0.51, #d7d9da)); 
    border: 2px solid #767676;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    margin-top: 8px;
    width: 80%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

    button.save {
        background-color: #6e86a4;
        background: -webkit-gradient(linear, left top,left bottom, from(#afbbcb), to(#6e86a4), color-stop(0.48, #8b9db5), color-stop(0.5, #8195af));
        background: -moz-linear-gradient(#afbbcb, #6e86a4);
        color: white;
    }

    button.delete {
        background-color: #b71a1a;
        background: -webkit-gradient(linear, left top, left bottom, from(#d01e1e), to(#b71a1a), color-stop(0.5, #d01e1e), color-stop(0.51, #b71a1a)); 
        background: -moz-linear-gradient(#d01e1e, #b71a1a);
        color: white;
    }

/* =============================================================================
   Page loading spinner
   ========================================================================== */

#page_loading_area {
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    display: none;
}

/* =============================================================================
   Navbar
   ========================================================================== */
.navbar {
    background-color: black;
    height: 35px;
    width: 100%;
    border-bottom: 2px solid #3f3f3f;
}

    .navbar a {
        border: 0px;
        padding: 0px;
        color: #c3c3c3;
        display: block;
        font-size: 9px;
        height: 34px;
        width: 100%;
        background-image: none;
    }

        .navbar a:hover {
            background-color: #2f2f2f;
            color: white;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
        }

    .navbar ul.navbar-list {
        text-align: center;
    }

        .navbar ul.navbar-list li{
            float: left;
            width: 25%;
        }

    .navbar ul.navbar-list img {
        width: 20px;
    }

/* =============================================================================
   Titlebar

   credits to Jeff Batterton: http://lab.jeffbatterton.com/iphone-back-button/
   ========================================================================== */
.titlebar {
    height: 40px;
    text-align: center;
}

#title_txt {
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
}

.titlebar .disabled{
    display: none;
}

.titlebar { 
    background-color: #6e86a4;
    background: -webkit-gradient(linear, left top,left bottom, from(#afbbcb), to(#6e86a4), color-stop(0.48, #8b9db5), color-stop(0.5, #8195af));
    background: -moz-linear-gradient(#afbbcb, #6e86a4);
    border-bottom: 1px solid #22374a;
    height: 42px;
    text-align: center;
    position: relative;
}

#title_left_btn {
    float: left;
    margin-left: 10px;
}

#title_right_btn {
    float: right;
    margin-right: 10px;
}

.titlebar .btn a{ 
    background: -webkit-gradient(linear, left top, left bottom, from(#9fb3cc), to(#5b80ab), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa)); 
    background: -moz-linear-gradient(#9fb3cc, #5b80ab);
    border: 1px solid rgba(0,0,0, 0.4);  
    display: block;
    height: 26px; 
    margin: 6px 0 0 12px; 
    padding-left: 5px; 
    padding-right: 5px;
    position: relative; 
    text-decoration: none;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    z-index: 3;
}

.titlebar .btn p{ 
    color: #fff; 
    font-size: 12px; 
    font-weight: bold;
    line-height: 27px;
    margin: 0; 
    padding: 0; 
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
    z-index: 3 !important; 
}

#title_left_btn.back #title_left_pointer span{ 
    background: -webkit-gradient(linear, left top, right bottom, from(#9fb3cc), to(#5b80ab), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa));   
    background: -moz-linear-gradient(#9fb3cc, #638bb9);
    border: 1px solid rgba(0,0,0, 0.4); 
    border-right: 0; 
    border-top: 0;
    display: block; 
    height: 16px; 
    -webkit-border-radius: 1px; 
    -moz-border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255, 0.25);
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    width: 15px; 
    z-index: 2;
} 

#title_left_btn.back a {
    border-left: 0px;
}

#title_left_pointer {
    float: left;
    left: 15px; 
    position: absolute; 
    top: 11px; 
    -webkit-transform: rotate(51deg);
    -moz-transform: rotate(51deg);
    z-index: 1; 
}

/* --------- Specific titlebar buttons ---------- */
.titlebar a span {
    display: none;
}

.titlebar .add a{
    z-index: 9;
}
.titlebar .add a span{
    background: url(../img/icons/plus_white.png) 3px 3px no-repeat;
    display: block;
    height: 20px;
    margin-top: 2px;
    width: 20px;
    z-index: 10;
}

.titlebar .add a p{
    display: none;
}

/* =============================================================================
   Sub navigation bars
   ========================================================================== */
.list_children div.buttons {
    background-color: #E2E5EB;
    background: -webkit-gradient(linear, left top,left bottom, from(#FAFBFE), to(#E2E5EB));
    background: -moz-linear-gradient(#FAFBFE, #E2E5EB);
    border-bottom: 1px solid #c3c3c3;
    border-top: 1px solid #767676;
    height: 42px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    -webkit-box-shadow: inset 0 1px 1px -1px #fff;
    -moz-box-shadow: inset 0 1px 1px -1px #fff;
}

.list_children div.buttons table {
    padding-right: 10px;
    width: 100%;
}

.list_children button {
    background-color: #FAFBFE;
    background: -webkit-gradient(linear, left top,left bottom, from(#FAFBFE), to(#E2E5EB));
    background: -moz-linear-gradient(#FAFBFE, #E2E5EB);
    border: 1px solid #c3c3c3;
    color: #505C77;
    font-weight: bold;
    height: 30px;
    margin: 5px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
    width: 95%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px -1px #fff;
    -moz-box-shadow: inset 0 1px 1px -1px #fff;
}

    .list_children button.is_active,
    .list_children button:active {
        background-color: #DBDDE3;
        background: -webkit-gradient(linear, left top,left bottom, from(#DBDDE3), to(#E2E5EB));
        background: -moz-linear-gradient(#DBDDE3, #E2E5EB);
    }

/* =============================================================================
   Game Tracking
   ========================================================================== */
.scoreboard {
    height: 25px;
}
    .scoreboard .name {
        float: left;
        width: 34%;
        padding: 5px;
        overflow: hidden;
    }

    .scoreboard .team1 {
        text-align: right;
    }

    .scoreboard .score {
        float: left;
        width: 12%;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    .scoreboard .last_action {
        clear: both;
        text-align: center;
    }

.player_area {
    clear: both;
    margin-top: 15px;
    width: 60%;
    border: 1px solid #c3c3c3;
    float: left;
}

.alternate_action,
.main_action {
    position: absolute;
    top: 40px;
    right: 0px;
    width: 40%;
}

.alternate_action {
    display: none;
}

.management {
    clear: both;
    padding-top: 15px;
}

.track {
    height: 100%;
    display: block;
    position: absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
}

    .track p {
        margin: 0px;
    }

    .track button {
        border: 1px solid #a9a9a9;
        background-color: white;
        padding: 12px 5px;
        text-align: center;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        font-size: 12px;
        font-weight: bold;
        overflow: hidden;
        word-wrap: none;
    }

        .track button:active {
            background-color: #0377cc !important;
            color: white !important;
        }

        .track .player_buttons {
            text-align: center;
        }

        .track button.player {
            padding: 5px;
            float: middle;
        }
        .track .player_buttons li:nth-of-type(odd) button{
            float: left;
            margin-left: 5px;
        }
        .track .player_buttons li:nth-of-type(even) button{
            float: right;
            margin-right: 5px;
        }

            .track button.player .player_name{
                display: block;
                overflow: hidden;
                white-space: nowrap;
            }
                
            .track button.player .player_number{
                display: block;
                overflow: hidden;
                white-space: nowrap;
                font-size: 10px;
                color: #a9a9a9;
            }

    .track .main_action,
    .track .alternate_action {
        text-align: center;
    }

        .track .player_area button {
            width: 45%;
            color: #767676;
            margin-top: 10px;
        }

        .track .main_action button,
        .track .alternate_action button {
            margin-bottom: 10px;
            width: 90%;
        }

        .track .management button.misc,
        .track .main_action button,
        .track .alternate_action button {
            color: #073962;
        }

            .track .main_action button.score {
                color: #0377cc;
                padding-top: 20px;
                padding-bottom: 20px;
            }

        .track .management {
            margin-left: 5px;
        }

        .track .management button {
            width: 29%;
        }

            .track .management button.undo {
                color: #750808;
            }

    .track .offense_teamname {
        clear: both;
        text-align: center;
        padding-top: 5px;
        margin-bottom: 5px;
    }
        .track .offense_teamname p{
            color: #767676;
            font-size: 10px;
        }

.player_prompt {
    text-align: center;
}

    .player_prompt p{
        font-size: 11px;
        margin-top: 5px;
        font-weight: bold;
    }

.action_prompt {
    text-align: center;
}

    .action_prompt p{
        font-size: 11px;
        margin-top: 5px;
        font-weight: bold;
    }

#score_prompt {
    margin-top: 8px;
}
