<div class="buttons main_action">
	<div class="completion">TODO threw a<button class="button completion">Completion</button></div>
	<button class="button throwaway">Throwaway</button>
	<button class="button dropped_pass">Dropped pass</button>
	<button class="button defd_pass">D'ed Pass</button>
</div>
<div class="buttons alternate_action">
	<button class="button unknown_turn">? Turn</button>
	<button class="button timeout">Timeout</button>
	<button class="button end_of_period">End of period</button>
	<button class="button injury">Injury</button>
</div>
<div class="buttons management">
	<button class="button undo">Undo</button>
	<button class="button misc">Misc</button>
	<div class="score">TODO caught a<button class="button score">Score</button></div>
</div>