<div class="buttons main_action">
    <div id="throw_prompt" class="action_prompt"><p>TODO threw a:</p></div>
    <button class="button completion">Completion</button>
	<button class="button throwaway">Throwaway</button>
	<button class="button dropped_pass">Dropped pass</button>
	<button class="button defd_pass">D'ed Pass</button>
    <div id="score_prompt" class="action_prompt"><p>TODO caught a:</p></div>
    <button class="button score">Score</button>
</div>
<div class="buttons alternate_action">
    <div id="alternate_action_prompt" class="action_prompt"><p>What happened?</p></div>
	<button class="button unknown_turn">Unknown Turn</button>
	<button class="button timeout">Timeout</button>
	<button class="button end_of_period">End of period</button>
	<button class="button injury">Injury</button>
	<button class="button foul">Foul</button>
</div>
<div class="buttons management">
	<button class="button undo">Undo</button>
	<button class="button misc">Misc</button>
</div>
