<div class="buttons main_action">
    <div id="throw_prompt" class="action_prompt">
        <div class="action_prompt_player">
            <%= player_string %>
        </div>
        <div class="action_prompt_action">
            Throws a:
        </div>
    </div>
    <button class="button completion">Complete Pass</button>
	<button class="button dropped_pass">Dropped pass</button>
	<button class="button defd_pass">D'ed Pass</button>
    <button class="button throwaway">
        <span class="button_line_1">Untouched</span> 
        <span class="button_line_2">Throwaway</span>
    </button>
    <button class="button score">Score</button>
</div>
<div class="buttons alternate_action">
    <div id="alternate_action_prompt" class="action_prompt">
        <div class="action_prompt_action">What happened?</div>
    </div>
	<button class="button unknown_turn">Unknown Turn</button>
	<button class="button stall">Stall</button>
    <!-- Removed for simplicity for the first version 
        <button class="button foul">Foul/Violation</button>
    -->
	<button class="button injury">Injury</button>
	<button class="button timeout">Timeout</button>
	<button class="button end_of_period">End of Period <%= per_num %></button>
	<button class="button substitution">Substitution</button>
</div>
<div class="buttons extra_actions">
    <button class="button misc">Misc</button>
</div>
