<div class="track sub_page_wrapper">
    <div class="sub_team_header">
        <span class="sub_team_name">
            <%= team.name %>
        </span>
    </div>
    <div class="sub_wrapper">
        <div class="sub_on_field_wrapper">
        	<div class="sub_on_field_title">On field</div>
            <div class="sub_on_field_area"></div>
        </div>
        <div class="sub_off_field_wrapper">
        	<div class="sub_off_field_title">Off field</div>
            <div class="sub_off_field_area"></div>
        </div>
    </div>
    <div class="sub_buttons_area">
        <button class="button sub_next">NextTeam</button>
        <button class="button sub_done">Done</button>
        <button class="button end_period">End Period <%= per_num %></button>
        <button class="button game_over">End Game</button>
    </div>
</div>
