<div class="player_prompt"><p>Complete pass to:</p></div>
<ul class="player_buttons">
    <li><button class="button player"><span class="player_name">TODO Player</span><span class="player_number">22</span></button></li>
    <li><button class="button player"><span class="player_name">Player</span><span class="player_number">22</span></button></li>
    <li><button class="button player"><span class="player_name">Player</span><span class="player_number">22</span></button></li>
    <li><button class="button player"><span class="player_name">Player</span><span class="player_number">22</span></button></li>
    <li><button class="button player"><span class="player_name">Player</span><span class="player_number">22</span></button></li>
    <li><button class="button player"><span class="player_name">Player</span><span class="player_number">22</span></button></li>
    <li><button class="button player"><span class="player_name">Player</span><span class="player_number">22</span></button></li>
    <li><button class="button unknown_player">Unknown</button></li>
</ul>
<div class="offense_teamname"><p>TODO offense teamname</p></div>